

    <configuration>
    <!-- 
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender> -->

        <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>jquants.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
                </pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>20GB</totalSizeCap>
                <maxHistory>60</maxHistory>
            </rollingPolicy>
        </appender>

    <root level="debug">
        <appender-ref ref="logfile" />
    </root>

    </configuration>

